<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <css>
                    <fields>
                        <csspreload>
                            <label>Enable CSS Preload</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <merge_css_files><value>1</value></merge_css_files>
                            </depends>
                        </csspreload>
                    </fields>
                </css>
            </groups>
        </dev>
    </sections>
</config>
